@{
    ViewData["Title"] = "Home Page";
    switch (ViewBag.PerfilUsuario)
    {
        case "1":
            Layout = "~/Views/Shared/_LayoutAdm.cshtml";
            break;
        case "2":
            Layout = "~/Views/Shared/_LayoutFunc.cshtml";
            break;
    }

    @model FlySneakerFE.Models.ProdutosCreateDto
}

<body>
    <div class="container-fluid h-custom">
        <br />
        <br />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Produto</a>
            </li>
            @if (Model?.Produto?.Codigo != 0)
            {
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Informações adicionais</a>
                </li>
            }
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        @{
                            if (ViewBag.Mensagem != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.Mensagem
                                </div>
                            }
                            if (ViewBag.Erro != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Erro
                                </div>
                            }
                        }
                        <form method="post" action="@Url.Action("Create", "Produto")">
                            <input type="hidden" id="custId" name="codigo" value="@Model?.Produto?.Codigo">
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Nome" name="nome" value='@Model?.Produto?.Nome' />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Link foto 1" name="nome" value='@Model?.Produto?.LinkFoto1' />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Link foto 2" name="nome" value='@Model?.Produto?.LinkFoto2' />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Link foto 3" name="nome" value='@Model?.Produto?.LinkFoto3' />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Link foto 4" name="nome" value='@Model?.Produto?.LinkFoto4' />
                            </div>
                            <div class="form-outline mb-4">
                                <span>Marca: </span>
                                <select name="codigoProdutoDados" class="form-select" aria-label="Default select example" value='@Model?.Produto?.CodigoMarca'>
                                    @foreach (var item in Model?.Marcas)
                                    {
                                        <option value="@item.Codigo">  @item.Nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-outline mb-4">
                                <span>Categoria: </span>
                                <select name="codigoProdutoDados" class="form-select" aria-label="Default select example" value='@Model?.Produto?.CodigoCategoria'>
                                    @foreach (var item in Model?.Categorias)
                                    {
                                        <option value="@item.Codigo">  @item.Nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-outline mb-4">
                                <textarea id="form3Example3" class="form-control form-control-lg"
                                          placeholder="Descrição" name="descricao" value='@Model?.Produto?.Descricao'>@Model?.Produto?.Descricao</textarea>
                            </div>
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-outline-dark flex-shrink-0 text-center"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Cadastrar
                                </button>
                            </div>
                        </form>
                        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="th-sm">Código</th>
                                    <th class="th-sm">Nome</th>
                                    <th class="th-sm">Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProdutoList)
                                {
                                    <tr>
                                        <td>@item.Codigo</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Descricao</td>
                                        <td>
                                            @Html.ActionLink("Editar", "Editar", "Produto", new { codigo = item.Codigo })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Excluir", "Excluir", "Produto", new { codigo = item.Codigo, nome = item.Nome, descricao = item.Descricao })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                @if (Model?.Produto?.Codigo != 0)
                {
                    @await Component.InvokeAsync("Dados", new { codigoProduto = Model?.Produto?.Codigo })
                }
            </div>
        </div>
    </div>
</body>