@{
    ViewData["Title"] = "Home Page";

    switch (ViewBag.PerfilUsuario)
    {
        case "1":
            Layout = "~/Views/Shared/_LayoutAdm.cshtml";
            break;
        case "2":
            Layout = "~/Views/Shared/_LayoutFunc.cshtml";
            break;
        case "3":
            Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
            break;
        default:
            //Admin layout
            Layout = "~/Views/Shared/_Layout.cshtml";
            break;
    }

    @model FlySneakerFE.Models.ProdutoDetalhesDto
}
<form method="post" action="@Url.Action("Details", "Produto")">
    <div class="container">
        <div class="row align-items-start">
            <section class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-2"><img class="card-img-top mb-5 mb-md-0" src="@Model.Foto2" alt="..." /></div>
                        <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="@Model.Foto1" alt="..." /></div>
                        <div class="col-md-6">
                            <div class="small mb-1">Codigo: @Model.Codigo</div>
                            <h1 class="display-5 fw-bolder">@Model.Nome</h1>
                            <div class="fs-5 mb-5">
                                <span>Valor: @Model.Estoque.Min(x => x.Valor).ToString("C")</span>
                            </div>
                            <div class="fs-5 mb-5">
                                <div class="fs-5 mb-5">
                                    <span>Tamanho: </span>

                                    <select name="codigoProdutoDados" class="form-select" aria-label="Default select example">
                                        @foreach (var item in Model.Estoque)
                                        {
                                            <option value="@item.Codigo">  @item.Tamanho</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <p class="lead">@Model.Descricao</p>
                            <div class="d-flex">
                                <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" name="quantidade" style="max-width: 3rem" />
                                <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                                    <i class="bi-cart-fill me-1"></i>
                                    Adicionar ao carrinho
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</form>

@if (Model.HabilitarComentario == true)
{
    <form method="post" action="@Url.Action("Comentario", "Produto")">
        <input type="hidden" id="custId" name="codigo" value="@Model?.Codigo">
        <div class="form-outline mb-4">
            <span>Nota: </span>
            <select name="nota" class="form-select" aria-label="Default select example">
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
                <option value="4"> 4</option>
                <option value="5"> 5</option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <span>Comentário: </span>
            <textarea id="form3Example3" class="form-control form-control-lg"
                      placeholder="Comentario" name="comentario"></textarea>
        </div>
        <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-outline-dark flex-shrink-0 text-center"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                Cadastrar
            </button>
        </div>
    </form>
} 

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Comentarios</h4>
            </div>
            @{foreach (var item in Model.Comentarios)
                {
                    <div class="comment-widgets m-b-20">
                        <div class="d-flex flex-row comment-row">
                            <div class="comment-text w-100">
                                <h5>@item.Nome</h5>
                                <div class="comment-footer">
                                    <span>Avaliação: @item.Nota</span>
                                    @*<span class="action-icons">
                                                <a href="#" data-abc="true"><i class="fa fa-pencil"></i></a>
                                                <a href="#" data-abc="true"><i class="fa fa-rotate-right"></i></a>
                                                <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                        </span>*@
                                </div>
                                <p class="m-b-5 m-t-10">@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>